<a href="https://colab.research.google.com/github/Saim-Hassan786/Modern-AI-Python-Coding-Exercises/blob/main/Modern_AI_Python_Coding_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def main():
  print("This Program is used to add the two numbers")
  num1 = input("Enter the first Number ")
  num1_int = int(num1)
  num2 = input("Enter the second Number ")
  num2_int = int(num2)
  sum = num1_int + num2_int
  return f"The Sum of the entered numbers is {sum}"

In [ ]:
main()

This Program is used to add the two numbers
Enter the first Number 78
Enter the second Number 80

'The Sum of the entered numbers is 158'

In [ ]:
from rich import print
def favorite_animal():
  animal = input("What is the name of your favourite animal ")
  print(f"Wow ! The name of your favourite animal is [bold]{animal}[/bold]")
  print(f"My favourite animal is also [italic]{animal}[/italic]")

In [ ]:
favorite_animal()

What is the name of your favourite animal Lion

Wow ! The name of your favourite animal is Lion

My favourite animal is also Lion

In [ ]:
def temperature_convertion():
  temp_in_fah = int(input("Enter the Temperature Here "))
  temp_in_cel = (temp_in_fah - 32) * 5/9
  print(f"The Temperature in Celcius is {temp_in_cel}")

In [ ]:
temperature_convertion()

Enter the Temperature Here 100
The Temperature in Celcius is 37.77777777777778

In [ ]:
def riddle():
  anton : int = 21
  beth : int = anton + 6
  chen : int = beth + 20
  drew : int = chen + anton
  ethen : int = chen
  print(f"""
  The age of Anton is {anton}
  The age of beth is {beth}
  The age of chen is {chen}
  The age of drew is {drew}
  The age of ethen is {ethen}
        """)

In [ ]:
riddle()

  The age of Anton is 21
  The age of beth is 27
  The age of chen is 47
  The age of drew is 68
  The age of ethen is 47

In [ ]:
def parameter():
  L1 : float = float(input("Enter the length of the first side "))
  L2 : float = float(input("Enter the length of the second side "))
  L3 : float = float(input("Enter the length of the third side "))
  print(f"The Parameter of the triangle is {L1 + L2 + L3}")

In [ ]:
parameter()

Enter the length of the first side 20
Enter the length of the second side 20
Enter the length of the third side 25
The Parameter of the triangle is 65.0

In [ ]:
from rich import print
def square():
  square : int = int(input("Enter the Number "))
  print(f"The square of the Number is  [italic]{square ** 2}[/italic]")

In [ ]:
square()

Enter the Number 12

The square of the Number is  144

In [ ]:
import random

In [ ]:
def dice():
  num1 = random.randint(1,6)
  num2 = random.randint(1,6)
  num3 = random.randint(1,6)
  print(f"The Numbers are [bold]{num1}[/bold] [bold]{num2}[/bold] [bold]{num3}[/bold]")

In [ ]:
dice()

The Numbers are 4 2 6

In [ ]:
def roll_dice():
  dice()
  dice()
  dice()

In [ ]:
roll_dice()

The Numbers are 1 1 2

The Numbers are 6 1 2

The Numbers are 1 3 1

In [ ]:
def energy_equation():
  m : int = int(input("Enter The Mass "))
  c : int = 3 * 10 ** 8
  e : int = m * c ** 2
  mass : int = f"{m} kgs"
  print(f"The Mass Entered is {mass}")
  speed : int = f"{c} m/s"
  print(f"The Speed of Light is {speed}")
  print(f"The Energy of the Mass Entered is {e} Joules")

In [ ]:
energy_equation()

Enter The Mass 67

The Mass Entered is 67 kgs

The Speed of Light is 300000000 m/s

The Energy of the Mass Entered is 6030000000000000000 Joules

In [ ]:
def unit_conversion():
  unit_in_feet = int(input("Enter the length in feet "))
  unit_in_inches = unit_in_feet * 12
  print(f"The length in feet is {unit_in_feet}")
  print(f"The length in inches is {unit_in_inches}")

In [ ]:
unit_conversion()

Enter the length in feet 12

The length in feet is 12

The length in inches is 144

In [ ]:
import math
def theorem():
  side1 : int = int(input("Enter the length of the Side 1 "))
  side2 : int = int(input("Enter the length of the Side 2 "))
  print(f"The length of the Side 1 is {side1}")
  print(f"The length of the Side 2 is {side2}")
  side3 = (side1 ** 2)+(side2 ** 2)
  hypo = math.sqrt(side3)
  print(f"The length of the Hypotenuse is {hypo}")

In [ ]:
theorem()

Enter the length of the Side 1 3
Enter the length of the Side 2 4

The length of the Side 1 is 3

The length of the Side 2 is 4

The length of the Hypotenuse is 5.0

In [ ]:
def remainder():
   try :
     num1 : int =int(input("Enter the 1st Number "))
     num2 : int =int(input("Enter the 2nd Number "))
     division : float = num1 / num2
     remainder : float = num1 % num2
     print(f"The Result after Division of the Number is {division:.2f} with a remainder of {remainder}")
   except (ValueError , ZeroDivisionError):
       print("Enter a valid number")

In [ ]:
remainder()

Enter the 1st Number 19
Enter the 2nd Number 6

The Result after Division of the Number is 3.17 with a remainder of 1

In [ ]:
def rolling_dice():
  dice1 = random.randint(1,6)
  dice2 = random.randint(1,6)
  print(f"Dice 1 Roll is {dice1}")
  print(f"Dice 2 Roll is {dice2}")
  return dice1 + dice2

In [ ]:
def dice_rolling():
  roll1 = rolling_dice()
  print(f"The sum of numbers is {roll1}")

In [ ]:
dice_rolling()

Dice 1 Roll is 1

Dice 2 Roll is 4

The sum of numbers is 5

In [ ]:
def sec_in_year():
  year : float = float(input("Enter Year Here "))
  sec_year : float = year * 365 * 24 * 60 * 60
  print(f"Total Seconds in Entered Year are {sec_year}")

In [ ]:
sec_in_year()

Enter Year Here 12

Total Seconds in Entered Year are 378432000.0

In [ ]:
SENTENCE_START = "My journey of PIAIC is nothing more than a miracle and I love the "
def alphabet():
  adj : str = input("Enter the Adjective Word Here ")
  noun : str = input("Enter the Noun Word Here ")
  verb : str = input("Enter the Verb Word Here ")
  print(f"{SENTENCE_START}{adj } {noun } {verb }")

In [ ]:
alphabet()

Enter the Adjective Word Here beautiful
Enter the Noun Word Here python
Enter the Verb Word Here working

My journey of PIAIC is nothing more than a miracle and I love the beautiful python working

In [ ]:
def add_num():
  num_list =[]
  num_1 = int(input("Enter the First Number "))
  num_list.append(num_1)
  num_2 = int(input("Enter the Second Number "))
  num_list.append(num_2)
  num_3 = int(input("Enter the Third Number "))
  num_list.append(num_3)
  num_4 = int(input("Enter the Fourth Number "))
  num_list.append(num_4)
  num_5 = int(input("Enter the Fifth Number "))
  num_list.append(num_5)
  total = 0
  for numbers in num_list:
    total += numbers
  print(f"The Sum of the Numbers is {total}")

In [ ]:
add_num()

Enter the First Number 10
Enter the Second Number 10
Enter the Third Number 10
Enter the Fourth Number 10
Enter the Fifth Number 5
The Sum of the Numbers is 45

In [ ]:
def double():
  num_list =[]
  num_1 = int(input("Enter the First Number "))
  num_list.append(num_1)
  num_2 = int(input("Enter the Second Number "))
  num_list.append(num_2)
  num_3 = int(input("Enter the Third Number "))
  num_list.append(num_3)
  double_list = []
  for numbers in num_list:
    double_list.append(numbers * 2)
  print(f"The Doubled Numbers are {double_list}")

In [ ]:
double()

Enter the First Number 4
Enter the Second Number 6
Enter the Third Number 8
The Doubled Numbers are [8, 12, 16]

In [ ]:
def triple(data_list,msg):
  for i in range(3):
    data_list.append(msg)

def mutable():
  data_list = []
  data_str = input("Enter the data here ")
  data_list.append(data_str)
  print(f"The list before triple call is {data_list}")
  triple(data_list,data_str)
  print(f"The list after triple call is {data_list}")

In [ ]:
mutable()

Enter the data here Hello PIAIC
The list before triple call is ['Hello PIAIC']
The list after triple call is ['Hello PIAIC', 'Hello PIAIC', 'Hello PIAIC', 'Hello PIAIC']

In [ ]:
def first_element():
  try:
     list1 = []
     first_1 = int(input("Enter the First Element "))
     list1.append(first_1)
     first_2 = int(input("Enter the Second Element "))
     list1.append(first_2)
     first_3 = int(input("Enter the Third Element "))
     list1.append(first_3)
     first_4 = int(input("Enter the Fourth Element "))
     list1.append(first_4)
     first_5 = int(input("Enter the Fifth Element "))
     list1.append(first_5)
     return f"The First Element is {list1[0]}"

  except ValueError:
       print("Enter a valid number")

In [ ]:
first_element()

Enter the First Element 12
Enter the Second Element 2
Enter the Third Element 3
Enter the Fourth Element 4
Enter the Fifth Element 5

'The First Element is 12'

In [ ]:
def last_element():
  try:
     list1 = []
     first_1 = int(input("Enter the First Element "))
     list1.append(first_1)
     first_2 = int(input("Enter the Second Element "))
     list1.append(first_2)
     first_3 = int(input("Enter the Third Element "))
     list1.append(first_3)
     first_4 = int(input("Enter the Fourth Element "))
     list1.append(first_4)
     first_5 = int(input("Enter the Fifth Element "))
     list1.append(first_5)
     return f"The Last Element is {list1[-1]}"

  except ValueError:
       print("Enter a valid number")

In [ ]:
last_element()

Enter the First Element 12
Enter the Second Element 23
Enter the Third Element 43
Enter the Fourth Element 54
Enter the Fifth Element 67

'The Last Element is 67'

In [ ]:
def enter():
  list_1 = []
  while True:
    user_input = input("Enter The Input Here ")
    if user_input == "":
      break
    else:
      input_int = int(user_input)
      list_1.append(input_int)
  return list_1

In [ ]:
enter()

Enter The Input Here 32
Enter The Input Here 43
Enter The Input Here 54
Enter The Input Here 65
Enter The Input Here 76
Enter The Input Here

[32, 43, 54, 65, 76]

In [ ]:
def shorten():
  del_list = []
  list1 = []
  while True :
    user_input = input("Enter The Input Here ")
    if user_input == "":
      break
    else:
      input_int = int(user_input)
      list1.append(input_int)
      if len(list1) <= 3 :
       continue
      else:
       del_item = list1.pop()
       del_list.append(del_item)
  for items in del_list:
      print(f"The Deleted Numbers Are {items}")
  return f"The Final list As Per Criteria Is {list1}"

In [ ]:
shorten()

Enter The Input Here 43
Enter The Input Here 45
Enter The Input Here 76
Enter The Input Here 87
Enter The Input Here 98
Enter The Input Here 34
Enter The Input Here 100
Enter The Input Here
The Deleted Numbers Are 87
The Deleted Numbers Are 98
The Deleted Numbers Are 34
The Deleted Numbers Are 100

'The Final list As Per Criteria Is [43, 45, 76]'

In [ ]:
def even():
  for i in range(0,21):
    if i % 2 == 0:
      print(i)

In [ ]:
even()

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
def vote():
  age : int = int(input("Enter Your Age "))
  if age >= 16 :
    print("You are eligible to vote in Peru")
  else:
    print("You are not eligible to vote in Peru")
  if age >= 25 :
    print("You are eigible to vote in Scandavia")
  else :
    print("You are not eligible to vote in Scandavia")
  if age >= 35 :
    print("You are eligible to vote in Mauritiuos")
  else :
    print("You are not eligible to vote in Mauritious")

In [ ]:
vote()

Enter Your Age 36
You are eligible to vote in Peru
You are eigible to vote in Scandavia
You are eligible to vote in Mauritiuos

In [ ]:
def leap_year():
  year : int = int(input("Enter the Year Here "))
  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        print(f"{year} Is A Leap Year")
      else:
        print(f"{year} Is Not A Leap Year")
    else:
      print(f"{year} Is A Leap Year")
  else:
    print(f"{year} Is Not A Leap Year")

In [ ]:
leap_year()

Enter the Year Here 2014
2014 Is Not A Leap Year

In [ ]:
def height_for_roller():
  height : int = int(input("Enter Your Height Here "))
  if height >= 50:
    print("You can ride the rollar coster")
  else:
    print("You can not ride the rollar coster")

In [ ]:
height_for_roller()

Enter Your Height Here 55
You can ride the rollar coster

In [ ]:
from random import randint

In [ ]:
def random_num():
  for i in range(10):
    num = randint(1,100)
    print(num)


random_num()

28
41
61
86
70
10
96
18
82
90

In [ ]:
def count_times():
  list1 = []
  while True:
    user_input = input("Enter the number here ")
    if user_input == "":
      break
    else:
      int_input = int(user_input)
      list1.append(int_input)
  return list1

In [ ]:
def counted(list1):
  dict1 = {}
  for items in list1 :
    if items not in dict1:
        dict1[items] = 1
    else:
        dict1[items] += 1
  return dict1

In [ ]:
def main_counted():
  list1 = count_times()
  dict1 = counted(list1)
  print(dict1)

In [ ]:
main_counted()

Enter the number here 12
Enter the number here 23
Enter the number here 12
Enter the number here 23
Enter the number here 23
Enter the number here 45
Enter the number here
{12: 2, 23: 3, 45: 1}

In [ ]:
def phone_book():
  dict1 = {}
  while True:
    name : str = input("Enter your Name Here ")
    if name == "":
      break
    else:
      number : int = int(input("Enter the Number Here "))
      dict1[name] = number
  return dict1

In [ ]:
phone_book()

Enter your Name Here Saim
Enter the Number Here 03002244371
Enter your Name Here khan
Enter the Number Here 03055761955
Enter your Name Here

{'Saim': 3002244371, 'khan': 3055761955}

In [ ]:
def bill():
  fruit_price : dict[list[str],list[int]]= {"Mango":10 ,"Apple": 15 ,"Banana" : 20 ,"Dates" : 10 ,"Avocado" : 25}
  prompt1 = input("Do you want to buy Mango [Y/N] ").lower()
  if prompt1 == "y":
    prompt_a = int(input("How many Mango do you want to buy "))
    final_1 = prompt_a * fruit_price["Mango"]
  else:
    final_1 = 0
    pass
  prompt2 = input("Do you want to buy Apple [Y/N] ").lower()
  if prompt2 == "y":
    prompt_b = int(input("How many Apple you want to buy "))
    final_2 = prompt_b * fruit_price["Apple"]
  else:
    final_2 = 0
    pass
  prompt3 = input("Do you want to buy Banana [Y/N] ").lower()
  if prompt3 == "y":
    prompt_c = int(input("How many Banana you want to buy "))
    final_3 = prompt_c * fruit_price["Banana"]
  else:
    final_3 = 0
    pass
  prompt4 = input("Do you want to buy Dates [Y/N] ").lower()
  if prompt4 == "y":
    prompt_d = int(input("How many Dates you want to buy "))
    final_4 = prompt_d * fruit_price["Dates"]
  else:
    final_4 = 0
    pass
  prompt5 = input("Do you want to buy Avocado [Y/N] ").lower()
  if prompt5 == "y":
    prompt_e = int(input("How many Avocado you want to buy "))
    final_5 = prompt_e * fruit_price["Avocado"]
  else:
    final_5 = 0
    pass

  return f"Your Total Bill Is {final_1 + final_2 + final_3 + final_4 + final_5} $"

In [ ]:
bill()

Do you want to buy Mango [Y/N] y
How many Mango do you want to buy 5
Do you want to buy Apple [Y/N] y
How many Apple you want to buy 4
Do you want to buy Banana [Y/N] n
Do you want to buy Dates [Y/N] y
How many Dates you want to buy 5
Do you want to buy Avocado [Y/N] 2

'Your Total Bill Is 160 $'

In [ ]:
from hashlib import sha256

def hash_password(password):
  return sha256(password.encode()).hexdigest()

In [ ]:
def login(email,stored_login,password_to_check):
  if stored_login[email] == hash_password(password_to_check):
    return True
  else:
    return False

def main_check():
  # password = input("Enter your password ")
  stored_login = {"saim@gmail.com":"c1e31dd78e7971c9b76bfa7f670d5741eb0a71549be9dae7aa21a36bf8f1d13a",
                  "bakht@gmail.com":"4132dbe3569f3952fe9abfd8e0ed54d391faf63c715f7b54bea588a5dde68094",
                  "ahad@gmail.com": "0bcb86c9c185766d42a28f17f4f35d67d28cf475023d01e007db72c124509aff",
                  "man": "f9ed2b54fd72ac1652579d3726fe310b3984465599a6051909ac4259de8f7aac" }
  print(login("saim@gmail.com",stored_login,"saim"))
  print(login("saim@gmail.com",stored_login,"jeans"))

  print(login("bakht@gmail.com",stored_login,"hello"))
  print(login("bakht@gmail.com",stored_login,"bakht"))

  print(login("ahad@gmail.com",stored_login,"meeting"))
  print(login("ahad@gmail.com",stored_login,"ahad"))

In [ ]:
hash_password("care")

'f9ed2b54fd72ac1652579d3726fe310b3984465599a6051909ac4259de8f7aac'

In [ ]:
main_check()

True
False
False
True
False
True

In [ ]:
JOKE : str = """What do you want? Joke Here is a joke for you! Panaversity GPT -
Sophia is heading out to the grocery store. A programmer tells her: get a liter of milk, and if they have eggs, get 12.
Sophia returns with 13 liters of milk. The programmer asks why and Sophia replies: 'because they had eggs"""
SOMETHING :str = "Sorry! I only tell jokes"
PROMPT : str = "Do you want to hear a joke? "
NO : str = "Okay As You Wish"

def joke_bot():
  prompt = input(PROMPT).lower()
  if prompt == "yes":
    print(JOKE)
  elif prompt == "no" :
    print(NO)
  else :
    print(SOMETHING)

In [ ]:
joke_bot()

Do you want to hear a joke? yes
What do you want? Joke Here is a joke for you! Panaversity GPT -
Sophia is heading out to the grocery store. A programmer tells her: get a liter of milk, and if they have eggs, get 12.
Sophia returns with 13 liters of milk. The programmer asks why and Sophia replies: 'because they had eggs

In [ ]:
def double():
  double_list = []
  while True:
    user_input = input("Enter the number here ")
    if user_input == "":
      break
    else:
       int_input = int(user_input)
       double_num = (int_input) * 2
       double_list.append(double_num)
       if double_num >= 100:
             break
  double_list.pop()
  print(double_list)

In [ ]:
double()

Enter the number here 23
Enter the number here 35
Enter the number here 45
Enter the number here 32
Enter the number here 16
Enter the number here 55
[46, 70, 90, 64, 32]

In [ ]:
def count_down():
  for i in range(10,0,-1):
    print(i, end = " ")
  print("Lift Off")

In [ ]:
count_down()

10 9 8 7 6 5 4 3 2 1 Lift Off

In [ ]:
from random import randint

def guessing_game():
  attempt_limit : int = 5
  attempts : int = 0
  secret_number = randint(1,10)
  while attempts <= attempt_limit :
    user_input = int(input("Enter Your Guess Here "))
    attempts += 1
    print(f"Attempts Left {attempt_limit - attempts}")
    if attempts == 5:
      print(f"""
    Your attempts are Over
    The Secret Number Was {secret_number}""")
      break
    if user_input > secret_number:
      print("Your Guess Is High")
    elif user_input < secret_number:
      print("Your Guess Is Low")
    else:
      print("Your Guessed it right buddy !")
      break

In [ ]:
guessing_game()

Enter Your Guess Here 23
Attempts Left 4
Your Guess Is High
Enter Your Guess Here 43
Attempts Left 3
Your Guess Is High
Enter Your Guess Here 56
Attempts Left 2
Your Guess Is High
Enter Your Guess Here 1
Attempts Left 1
Your Guess Is Low
Enter Your Guess Here 67
Attempts Left 0

    Your attempts are Over
    The Secret Number Was 3

In [ ]:
START : int = 1
END : int = 100
def num_ran():
  for i in range(5):
    num = randint(START,END)
    print(num)

In [ ]:
num_ran()

57
57
14
19
45

In [ ]:
import numpy as np
max_num : int = 101
min_num : int = 1
sample_size : int = 10
num_list = np.random.randint(min_num,max_num,sample_size)
print(*num_list)

100 100 33 40 60 35 63 36 71 43

In [ ]:
def mars_weight():
  weight_earth : int = int(input("Enter Your Weight On Earth "))
  mars_weight = weight_earth * 0.38
  weight = round(mars_weight,2)
  return (f"Your Weight On Mars Is {weight} Kg")

In [ ]:
mars_weight()

Enter Your Weight On Earth 100

'Your Weight On Mars Is 38.0 Kg'

In [ ]:
def all_planets():
  try:
    weight_earth : int = int(input("Enter Your Weight On Earth "))
    planets ={"Mars":0.38,"Venus":0.88,"Jupiter":2.36,"Saturn":1.08,"Uranus":0.81,"Neptune":1.14}
    planet_selection = input("Enter the Name of the Planet ").lower()
    for key,values in planets.items():
      if planet_selection == key.lower():
        weight = weight_earth * values
        round_weight = round(weight,2)
        print(f"Your weight on {key} is {round_weight}")
    for key,values in planets.items():
       weight = weight_earth * values
       round_weight = round(weight,2)
       print(f"Your weight on {key} is {round_weight}")
  except ValueError:
    print("Enter a valid number")

In [ ]:
all_planets()

Enter Your Weight On Earth 100
Enter the Name of the Planet jupiter
Your weight on Jupiter is 236.0
Your weight on Mars is 38.0
Your weight on Venus is 88.0
Your weight on Jupiter is 236.0
Your weight on Saturn is 108.0
Your weight on Uranus is 81.0
Your weight on Neptune is 114.0

In [ ]:
from random import randint

In [ ]:
def game():
  count: int = 5
  score : int = 0
  comp_input : int = randint(1,101)
  while count:
    try:
        my_input : int = int(input("Enter Your Guess Here "))
        if my_input == comp_input:
          print("Your Guess Is Right")
          score += 100
          print(f"Your Score Is {score}")
          break
        elif my_input > comp_input:
          print("Your Guess Is High")
          count -= 1
          print(f"Attempts Left {count}")
        else:
          print("Your Guess Is Low")
          count -= 1
          print(f"Attempts Left {count}")
    except ValueError:
          print("Invalid Input")
  if count == 0:
      print(f"Your Score Is {score}")
      print(f"The Number Was {comp_input}")
      print("Game Over")

In [ ]:
game()

Enter Your Guess Here ji
Invalid Input
Enter Your Guess Here 89
Your Guess Is High
Attempts Left 4
Enter Your Guess Here op
Invalid Input
Enter Your Guess Here 89
Your Guess Is High
Attempts Left 3
Enter Your Guess Here 76
Your Guess Is Low
Attempts Left 2
Enter Your Guess Here okl
Invalid Input
Enter Your Guess Here 56
Your Guess Is Low
Attempts Left 1
Enter Your Guess Here 59
Your Guess Is Low
Attempts Left 0
Your Score Is 0
The Number Was 87
Game Over

In [ ]:
def high_low():
  count : int = 5
  round : int = 0
  score : int = 0
  print("Welcome To High Low Game")
  while True:
    if round >= count:
      break
    my_num = randint(1,101)
    comp_num = randint(1,10)
    round += 1
    print(f"Round {round}")
    print(f"Your Number Is {my_num}")
    guess : str = input("Do you think your number is high or low ").lower()
    if my_num > comp_num and guess == "high":
      print("Your Guess Is Right")
      score += 100
      print(f"Your Score Is {score}")
      round
    elif my_num < comp_num and guess == "low"  :
      print("Your Guess Is Right")
      score += 100
      print(f"Your Score Is {score}")
    else:
        print("Your Guess Is Wrong")
  print(".............................")
  print("Game Over")
  print(f"Your Total Score Is {score}")

In [ ]:
high_low()

Welcome To High Low Game
Round 1
Your Number Is 78
Do you think your number is high or low low
Your Guess Is Wrong
Round 2
Your Number Is 80
Do you think your number is high or low high
Your Guess Is Right
Your Score Is 100
Round 3
Your Number Is 61
Do you think your number is high or low high
Your Guess Is Right
Your Score Is 200
Round 4
Your Number Is 35
Do you think your number is high or low low
Your Guess Is Wrong
Round 5
Your Number Is 62
Do you think your number is high or low high
Your Guess Is Right
Your Score Is 300
.............................
Game Over
Your Total Score Is 300

In [ ]:
def avg():
  num_1 : int = int(input("Enter the First Number "))
  num_2 : int = int(input("Enter the Second Number "))
  num_3 : int = int(input("Enter the Third Number "))
  avg  = (num_1 + num_2 + num_3) / 3
  return round(avg,2)

In [ ]:
avg()

Enter the First Number 20
Enter the Second Number 25
Enter the Third Number 30

25.0

In [ ]:
import random
DONE_LIKELIHOOD : float = 0.1
def done():
  rand : float = random.random()
  if rand <	DONE_LIKELIHOOD:
    return True
  else:
    return False

def chaotic_count():
  cur_num : int = 0
  for i in range(10):
    cur_num += 1
    if done():
      return
    print(cur_num)

In [ ]:
def main_func():
  print("I am going to count upto 10 or until I feel Like Stopping it")
  chaotic_count()
  print("I am done counting")

In [ ]:
main_func()

I am going to count upto 10 or until I feel Like Stopping it
1
2
3
4
5
6
7
8
9
10
I am done counting

In [ ]:
list_even = []
def even():
  while True:
    user_input = input("Enter your integer here or press enter to stop ")
    if user_input == "":
      break
    else:
      user_input = int(user_input)
      if user_input % 2 == 0:
        list_even.append(user_input)
  print(list_even)

In [ ]:
even()

Enter your integer here or press enter to stop 12
Enter your integer here or press enter to stop 12
Enter your integer here or press enter to stop 13
Enter your integer here or press enter to stop 45
Enter your integer here or press enter to stop 44
Enter your integer here or press enter to stop 66
Enter your integer here or press enter to stop 78
Enter your integer here or press enter to stop 42
Enter your integer here or press enter to stop 21
Enter your integer here or press enter to stop 33
Enter your integer here or press enter to stop 77
Enter your integer here or press enter to stop 100
Enter your integer here or press enter to stop
[12, 12, 44, 66, 78, 42, 100]

In [ ]:
list_double : list = []
def double():
  while True:
    user_input = input("Enter your integer here or press enter to stop ")
    if user_input == "":
      break
    else:
      user_double : int = int(user_input) * 2
      list_double.append(user_double)
  print(list_double)

In [ ]:
double()

Enter your integer here or press enter to stop 2
Enter your integer here or press enter to stop 3
Enter your integer here or press enter to stop 4
Enter your integer here or press enter to stop 5
Enter your integer here or press enter to stop 6
Enter your integer here or press enter to stop 7
Enter your integer here or press enter to stop 8
Enter your integer here or press enter to stop 9
Enter your integer here or press enter to stop
[4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
def name():
  name : str = input("Enter Your Name Here ")
  print(f"Howdy ! {name} 😀")

In [ ]:
name()

Enter Your Name Here Saim Hassan
Howdy ! Saim Hassan 😀

In [ ]:
def odd_even():
  dict1 : dict = {"Even": [] , "Odd": []}
  while True:
    user_input = input("Enter your integer here or  press enter to stop ")
    if user_input == "":
      break
    else :
      user_int : int = int(user_input)
      if user_int % 2 == 0:
          dict1["Even"].append(user_int)
      else:
          dict1["Odd"].append(user_int)
  print(dict1)

In [ ]:
odd_even()

Enter your integer here or  press enter to stop 2
Enter your integer here or  press enter to stop 3
Enter your integer here or  press enter to stop 4
Enter your integer here or  press enter to stop 66
Enter your integer here or  press enter to stop 32
Enter your integer here or  press enter to stop 45
Enter your integer here or  press enter to stop 77
Enter your integer here or  press enter to stop 98
Enter your integer here or  press enter to stop 23
Enter your integer here or  press enter to stop 45
Enter your integer here or  press enter to stop 90
Enter your integer here or  press enter to stop 100
Enter your integer here or  press enter to stop
{'Even': [2, 4, 66, 32, 98, 90, 100], 'Odd': [3, 45, 77, 23, 45]}

In [ ]:
def odd_even_again():
  for i in range(10):
    if i % 2 == 0:
      print("Even")
    else:
      print("Odd")

In [ ]:
odd_even_again()

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [ ]:
def divisor():
  user_input : int = int(input("Enter the number here "))
  for i in range(1,user_input + 1):
    if user_input % i == 0:
      print(f"Divisors fo the {user_input} are {i}")

In [ ]:
divisor()

Enter the number here 12
Divisors fo the 12 are 1
Divisors fo the 12 are 2
Divisors fo the 12 are 3
Divisors fo the 12 are 4
Divisors fo the 12 are 6
Divisors fo the 12 are 12

In [ ]:
def print_repeat(input,repeat):
  for i in range(repeat):
    print(input)

In [ ]:
print_repeat("Hello Saim 🤠" , 5)

Hello Saim 🤠
Hello Saim 🤠
Hello Saim 🤠
Hello Saim 🤠
Hello Saim 🤠

In [ ]:
def part_of_speech(word : str,part_of_speech : int):
  if part_of_speech == 0:
    print(f"Yes ! We will add your {word} in the collection of all the other items")
  elif part_of_speech == 1:
    print(f"Yes the {word} word that You have Entered is used for any sort of action")
  elif part_of_speech == 2:
    print(f"Your entered word that is {word} is used to enhance the skills or quality of any person or any action")

In [ ]:
part_of_speech("Books",0)

Yes ! We will add your Books in the collection of all the other items

In [ ]:
part_of_speech("Cycling",1)

Yes the Cycling word that You have Entered is used for any sort of action

In [ ]:
part_of_speech("Beautiful",2)

Your entered word that is Beautiful is used to enhance the skills or quality of any person or any action

In [ ]:
def ones(num_int : int):
  num : int = num_int % 10
  return num

In [ ]:
ones(17768)

8

In [ ]:
class Bank_Balance:
  def __init__(self, name , balance):
    self.name = name
    self.__balance = balance

  def deposit(self,amount):
    if amount >	0:
      self.__balance += amount
      print(f"Your New Balance Is {self.__balance}")
    else:
      print("Invalid Amount")

  def balance_check(self):
    return self.__balance

In [ ]:
balance = Bank_Balance("Saim",1000)

In [ ]:
balance.name

'Saim'

In [ ]:
balance.deposit(5000)

Your New Balance Is 6000

In [ ]:
balance.balance_check()

6000

**Pandas**  **Library**

In [ ]:
import pandas as pd

In [ ]:
list1 : list = [10,20,30,40,50]
data_series = pd.Series(list1)

In [ ]:
print(type(data_series))
print(data_series)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
data_series_2 = pd.Series(list1,index=["A","B","C","D","E"])
print(data_series_2)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [ ]:
tuple_series = pd.Series((10,20,30,40,50))
dict_series = pd.Series({"A":10,"B":20,"C":30,"D":40,"E":50})
print(tuple_series)
print(dict_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64
A    10
B    20
C    30
D    40
E    50
dtype: int64

In [ ]:
from typing import Any
dict1 : dict[str:Any] = {
    "Name":["Saim","Khan","Arslan","Bakhat","Ali"],
    "Age" : [25,23,22,20,17],
    "Salary": [50000,40000,70000,40000,30000]
}
dict_series = pd.DataFrame(dict1)
print(dict_series)

     Name  Age  Salary
0    Saim   25   50000
1    Khan   23   40000
2  Arslan   22   70000
3  Bakhat   20   40000
4     Ali   17   30000

In [ ]:
dict_series.columns

Index(['Name', 'Age', 'Salary'], dtype='object')

In [ ]:
dict_series.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
dict_series.values

array([['Saim', 25, 50000],
       ['Khan', 23, 40000],
       ['Arslan', 22, 70000],
       ['Bakhat', 20, 40000],
       ['Ali', 17, 30000]], dtype=object)

In [ ]:
dict_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Salary  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [ ]:
dict_series.describe()

            Age        Salary
count   5.00000      5.000000
mean   21.40000  46000.000000
std     3.04959  15165.750888
min    17.00000  30000.000000
25%    20.00000  40000.000000
50%    22.00000  40000.000000
75%    23.00000  50000.000000
max    25.00000  70000.000000

In [ ]:
dict_series.head(3)

     Name  Age  Salary
0    Saim   25   50000
1    Khan   23   40000
2  Arslan   22   70000

In [ ]:
dict_series.shape

(5, 3)

In [ ]:
dict_series["Name"]

0      Saim
1      Khan
2    Arslan
3    Bakhat
4       Ali
Name: Name, dtype: object

In [ ]:
dict_series["Age"]

0    25
1    23
2    22
3    20
4    17
Name: Age, dtype: int64

In [ ]:
dict_series[["Name","Salary"]]

     Name  Salary
0    Saim   50000
1    Khan   40000
2  Arslan   70000
3  Bakhat   40000
4     Ali   30000

In [ ]:
dict_series["Experience"] = [5,4,3,2,1]
print(dict_series)

     Name  Age  Salary  Experience
0    Saim   25   50000           5
1    Khan   23   40000           4
2  Arslan   22   70000           3
3  Bakhat   20   40000           2
4     Ali   17   30000           1

In [ ]:
new_row = pd.Series(["Anzila", 3 , 100000, 1], index = dict_series.columns)
print(new_row)

Name          Anzila
Age                3
Salary        100000
Experience         1
dtype: object

In [ ]:
dict_series.loc[len(dict_series)] = new_row
print(dict_series)

     Name  Age  Salary  Experience
0    Saim   25   50000           5
1    Khan   23   40000           4
2  Arslan   22   70000           3
3  Bakhat   20   40000           2
4     Ali   17   30000           1
5  Anzila    3  100000           1

In [ ]:
new_row_2 = pd.Series(["CoCo", 23 , 10000 , 1], index = dict_series.columns)
dict_series.loc[len(dict_series)] = new_row_2
print(dict_series)

     Name  Age  Salary  Experience
0    Saim   25   50000           5
1    Khan   23   40000           4
2  Arslan   22   70000           3
3  Bakhat   20   40000           2
4     Ali   17   30000           1
5  Anzila    3  100000           1
6    CoCo   23   10000           1

In [ ]:
dict_frame_clean = dict_series.drop("Salary", axis = 1)
print(dict_frame_clean)

     Name  Age  Experience
0    Saim   25           5
1    Khan   23           4
2  Arslan   22           3
3  Bakhat   20           2
4     Ali   17           1
5  Anzila    3           1
6    CoCo   23           1

In [ ]:
dict_series_clean = dict_series.drop(6,axis = 0)
print(dict_series_clean)

     Name  Age  Salary  Experience
0    Saim   25   50000           5
1    Khan   23   40000           4
2  Arslan   22   70000           3
3  Bakhat   20   40000           2
4     Ali   17   30000           1
5  Anzila    3  100000           1

In [ ]:
dict_series_2 = pd.DataFrame({
    "Name":["Saim","Khan","Arslan","Bakhat","Ali"],
    "City":["Karachi","Lahore","Islamabad","Peshawar","Quetta"],
    "Salary": [50000,40000,70000,40000,30000],
    "Experience": [5,4,3,2,1]
}, index = ["A","B","C","D","E"])
print(dict_series_2)

     Name       City  Salary  Experience
A    Saim    Karachi   50000           5
B    Khan     Lahore   40000           4
C  Arslan  Islamabad   70000           3
D  Bakhat   Peshawar   40000           2
E     Ali     Quetta   30000           1

In [ ]:
dict_series_2.loc["C"]

Name             Arslan
City          Islamabad
Salary            70000
Experience            3
Name: C, dtype: object

In [ ]:
dict_series_2.iloc[2]

Name             Arslan
City          Islamabad
Salary            70000
Experience            3
Name: C, dtype: object

In [ ]:
dict_series_2.loc["A":"C"]

     Name       City  Salary  Experience
A    Saim    Karachi   50000           5
B    Khan     Lahore   40000           4
C  Arslan  Islamabad   70000           3

In [ ]:
dict_series_2.iloc[0:2]

   Name     City  Salary  Experience
A  Saim  Karachi   50000           5
B  Khan   Lahore   40000           4

In [ ]:
dict_series_2["Gender"] = ["Male","Male","Male","Male","Male"]
print(dict_series_2)

     Name       City  Salary  Experience Gender
A    Saim    Karachi   50000           5   Male
B    Khan     Lahore   40000           4   Male
C  Arslan  Islamabad   70000           3   Male
D  Bakhat   Peshawar   40000           2   Male
E     Ali     Quetta   30000           1   Male

In [ ]:
dict_series_2.loc["A":"C","Name"]

A      Saim
B      Khan
C    Arslan
Name: Name, dtype: object

In [ ]:
dict_series_2.loc["C":"E","Name":"City"]

     Name       City
C  Arslan  Islamabad
D  Bakhat   Peshawar
E     Ali     Quetta

In [ ]:
dict_series.Age

0    25
1    23
2    22
3    20
4    17
5     3
6    23
Name: Age, dtype: int64

In [ ]:
dict_series_2.loc["A","Name":"Salary"]

Name         Saim
City      Karachi
Salary      50000
Name: A, dtype: object

In [ ]:
dict_series_2.at["B","Name"]

'Khan'

In [ ]:
dict_series_2.loc[dict_series_2["Salary"] <	60000]

     Name      City  Salary  Experience Gender
A    Saim   Karachi   50000           5   Male
B    Khan    Lahore   40000           4   Male
D  Bakhat  Peshawar   40000           2   Male
E     Ali    Quetta   30000           1   Male

In [ ]:
dict_series.iloc[dict_series["Salary"].values < 40000]

   Name  Age  Salary  Experience
4   Ali   17   30000           1
6  CoCo   23   10000           1

In [ ]:
dict_series.loc[dict_series["Salary"] <	40000 , ["Name","Age"]]

   Name  Age
4   Ali   17
6  CoCo   23

In [ ]:
def complex_panda(dict_series):
   rich_ones = dict_series.loc[dict_series["Salary"] >	29000 , ["Name","Salary"]]
   young_rich = dict_series.loc[(dict_series["Salary"]> 29000) & (dict_series["Age"]< 20) , ["Name","Age","Salary"]]
   return rich_ones,young_rich

In [ ]:
complex_panda(dict_series)

(     Name  Salary
 0    Saim   50000
 1    Khan   40000
 2  Arslan   70000
 3  Bakhat   40000
 4     Ali   30000
 5  Anzila  100000,
      Name  Age  Salary
 4     Ali   17   30000
 5  Anzila    3  100000)

In [ ]:
rich_ones,young_rich = complex_panda(dict_series)

In [ ]:
rich_ones

     Name  Salary
0    Saim   50000
1    Khan   40000
2  Arslan   70000
3  Bakhat   40000
4     Ali   30000
5  Anzila  100000

In [ ]:
young_rich

     Name  Age  Salary
4     Ali   17   30000
5  Anzila    3  100000

In [ ]:
def computation(dict_series):
  dict1 = dict_series.loc[dict_series["Salary"] > 29000].groupby("Salary")["Age"].mean()
  return dict1

In [ ]:
computation(dict_series)

Salary
30000     17.0
40000     21.5
50000     25.0
70000     22.0
100000     3.0
Name: Age, dtype: float64

In [ ]:
dict_series

     Name  Age  Salary  Experience
0    Saim   25   50000           5
1    Khan   23   40000           4
2  Arslan   22   70000           3
3  Bakhat   20   40000           2
4     Ali   17   30000           1
5  Anzila    3  100000           1
6    CoCo   23   10000           1

In [ ]:
def update(dict_series):
  dict_series.loc[dict_series["Salary"]>20000 , "Salary"] *= 1.1
  return dict_series

In [ ]:
update(dict_series)

<ipython-input-94-79455ba1e8c0>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[ 55000.  44000.  77000.  44000.  33000. 110000.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dict_series.loc[dict_series["Salary"]>20000 , "Salary"] *= 1.1

     Name  Age    Salary  Experience
0    Saim   25   55000.0           5
1    Khan   23   44000.0           4
2  Arslan   22   77000.0           3
3  Bakhat   20   44000.0           2
4     Ali   17   33000.0           1
5  Anzila    3  110000.0           1
6    CoCo   23   10000.0           1

In [ ]:
def summary(dict_series):
  summary = dict_series.loc[(dict_series["Salary"] > 20000) | (dict_series["Age"] > 20),["Salary","Age"]]
  return summary

In [ ]:
summary(dict_series)

     Salary  Age
0   55000.0   25
1   44000.0   23
2   77000.0   22
3   44000.0   20
4   33000.0   17
5  110000.0    3
6   10000.0   23

In [ ]:
df = pd.read_html("https://www.w3schools.com/python/python_operators.asp")

In [ ]:
df[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [ ]:
df = pd.read_json("https://www.w3schools.com/python/pandas/data.js")

In [ ]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
df = pd.read_csv("sample_data/california_housing_test.csv")

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
df.loc[0]

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

In [ ]:
df.iloc[1:4]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0

In [ ]:
df.loc[1:4,"longitude"]

1   -118.30
2   -117.81
3   -118.36
4   -119.67
Name: longitude, dtype: float64

In [ ]:
df.loc[(df["latitude"] > 40) & (df["housing_median_age"] > 40) , ["total_rooms","total_bedrooms"]]

      total_rooms  total_bedrooms
356        2127.0           358.0
1118       2167.0           480.0
2018       1393.0           294.0
2496       4513.0           985.0
2577       3042.0           597.0